<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">

  <!--link th:replace="/commons/main :: link_css"-->
  <title>página de login</title>
</head>

<body class="container">


<main class="mainpage">
  <h1>Please sign in</h1>
  <form th:action="@{/login}" method="post">
    <label>name: </label>  <input type="text" name="username">
    <label>password: </label> <input type="password" name="password">

    <button type="submit" value="Sign in">login</button>

    <p class="error" th:if="${param.error}">
      Senha ou username incorretos!
    </p>

    <p class="error" th:if="${param.logout}">
      Você foi desconectado!
    </p>
  </form>
</main>
<footer>
  <a href="/#">ainda não tem cadastro?</a>
</footer>
</body>
</html>