<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <!--link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Tiro+Devanagari+Sanskrit:ital@1&display=swap" rel="stylesheet"-->

    <title>Carrinho de compras</title>
</head>
<body>
<h1>Página do ADM</h1>
<table >
    <thead>
    <tr>
        <th scope="col">#id</th>
        <th scope="col">Produto</th>
        <th scope="col">Descricao</th>
        <th scope="col">Preco</th>
        <th scope="col">Quantidade</th>
        <th scope="col">img</th>
        <!--th scope="col">Deleted</th-->
    </tr>
    </thead>

    <tbody>
    <tr th:each="p : ${produtos}" th:object="${p}">
        <td th:text="*{id}"> </td>
        <td th:text="*{produto}"> </td>
        <td th:text="*{descricao}"> </td>
        <td th:text="*{preco}"> </td>
        <td th:text="*{quantidade}"> </td>
        <td th:text="*{imageUri}"> </td>
        <!--td th:text="*{deleted}" > </td-->
        <td> <!--a th:href="@{'/editar/'+ *{id}}">Editar</a--> </td>
        <td> <a th:href="@{'/deletar/'+ *{id}}">Deletar</a></td>
    </tr>

    </tbody>
</table>
</body>
</html>